.footer-box {
    list-style: none;
    margin-top: 2em;
}


/* .footer {
    background-color: #24262b;
    color: white;
}

.container.footer {
    max-width: 1170px;
    background-color: red;
    margin: auto;

} */